<nb-layout>

  <nb-layout-header fixed>
  <!-- Insert header here -->
  <div class="row">
    <div class="col-md-4">
      <a routerLinkActive="active-link" [routerLink]="[ '/' ] ">Dashboard</a>
    </div>
    <div class="col-md-4">
      <a routerLinkActive="active-link" [routerLink]="[ '/create' ]">Registrar Cliente</a>
    </div>
    <div class="col-md-4">
      <a routerLinkActive="active-link" [routerLink]="[ '/clients' ]">Listar Clientes</a>
    </div>
  </div>
  </nb-layout-header>

  <nb-layout-column>

    <router-outlet></router-outlet>
    
  </nb-layout-column>

  <nb-layout-footer fixed>
  <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
